<div class="sidebar-menu">
  <ul class="menu">
    <li class="sidebar-item">
      <a href="{{ url_for('dashboard.all_posts') }}" class="sidebar-link">
        <span>All Posts</span>
      </a>
    </li>
    <!-- <li class="sidebar-item">
      <a href="" class="sidebar-link">
        <span>Publish</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a href="" class="sidebar-link">
        <span>Draft</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a href="" class="sidebar-link">
        <span>Trash</span>
      </a>
    </li> -->
    <li class="sidebar-item">
      <a href="" class="sidebar-link">
        <span>Preview</span>
      </a>
    </li>
  </ul>
</div>
